<div class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h4"
          ><b>SCIENCE FOR FIRST GRADERS</b></a
        >
        <img
          class="animation__shake"
          src="../../assets/logo/logo2.png"
          alt="SffgLogo"
          height="100"
          width="100"
        />
      </div>
      <div class="card-body">
        <p class="login-box-msg">
          Create your account to access various learnings!
        </p>
        <form action="../../index3.html" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="First Name" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Last Name" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" />
                <label for="remember"> Agree to License Terms </label>
              </div>
            </div>

            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">
                Sign In
              </button>
            </div>
          </div>
        </form>
        <p class="mb-2 mt-20">
          <i class="fas fa-arrow-alt-circle-right"></i>
          <a routerLink="/forgot" class="ml-10" href="forgot-password.html"
            >I forgot my password</a
          >
        </p>
        <p class="mb-1">
          <i class="fas fa-arrow-alt-circle-right"></i>
          <a routerLink="/login" class="text-center ml-10"
            >Already existing student?</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
